{% extends 'base.html.twig' %}

{% block title %}Caisse - Tables
{% endblock %}

{% block body %}

	<div
		class="container my-4">

		{# Affichage du nom de la table sélectionnée #}
		<div id="table-name" class="text-center fw-bold fs-3 text-primary my-3"></div>

		{# Section tables #}
		<div id="tables-section" class="row">
			{% for table in tables %}
				<div class="col-3 mb-3">
					<button class="btn btn-outline-primary btn-table w-100" data-id="{{ table.id }}">
						<span class="table-label">{{ table.nom }}</span>
					</button>
				</div>
			{% endfor %}
		</div>

		{# Section catégories #}
		<div id="categories-section" class="row d-none">
			{% for categorie in categories %}
				<div class="col-3 mb-3">
					<button class="btn btn-outline-success btn-cat w-100" data-id="{{ categorie.id }}">
						{{ categorie.nom }}
					</button>
				</div>
			{% endfor %}
			<div class="col-12 my-2">
				<button class="btn btn-secondary" id="back-to-tables">Retour aux tables</button>
			</div>
		</div>

		{# Section produits par catégorie (initialement masquée) #}
		{% for categorie in categories %}
			<div id="cat-{{ categorie.id }}" class="row mb-3 d-none">
				{% for produit in categorie.produits %}
					<div class="col-3 mb-2">
						<button class="btn btn-outline-warning btn-produit w-100" data-id="{{ produit.id }}" data-nom="{{ produit.nom }}" data-prixttc="{{ produit.prixTTC }}">
							{{ produit.nom }}
							- €
							{{ produit.prixTTC|number_format(2, ',', ' ') }}
						</button>
					</div>
				{% endfor %}
			</div>
		{% endfor %}

		{# Ticket #}
		<div id="ticket-container" class="mt-4 d-none">
			<h4>Ticket</h4>
			<div id="ticket" class="border p-3 mb-3 bg-light"></div>
			<button class="btn btn-primary w-100" id="save-ticket-btn">Enregistrer la commande</button>
		</div>

	</div>


{% endblock %}
